@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.wrapper{
  width: 20rem;
  padding: 2rem;
  background-color: #f6f8f9;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.1);
}

.screen{
  height: 4rem;
  margin-bottom: 4rem;
}

.buttonBox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button{
  background-color: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}

.button:hover{
  border: 1px solid black;
}

.equals{
  background-color: #4bd086;
  grid-column: 3/5;
}

.opt{
  background-color: #f79505;
}

